@import '../../assets/colors';

.headerWrapper {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 18px 0;
  border-bottom: 1px solid $grey;
  background-color: $black-bg;

  .leftContent {
    display: flex;
    align-items: center;

    .logoText {
      color: $white;
      font-family: 'Satoshi';
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 28px;
      margin-left: 10px;
    }
  }
}
